Repository petercb/multi-arch-containers: changes, and which CircleCI parameters are due for each by the changed paths.
All: build-bind, build-ed

Fix CircleCI config error
  .circleci/config.yml
Due: none

Add external-dns build
  external-dns/Dockerfile
  external-dns/container-structure-test.yaml
Due: build-ed

Fix external-dns target build type
  external-dns/Dockerfile
Due: build-ed

Add Ubooquity
  .circleci/config.yml
  .circleci/continue_config.yml
  external-dns/Dockerfile
  external-dns/container-structure-test.yaml
  ubooquity/Dockerfile
  ubooquity/container-structure-test.yaml
Due: build-ed

Switch to Docker Hub
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

Add debug to Bind container build
  bind/Dockerfile
Due: build-bind

Try explicitly installing emulators
  .circleci/continue_config.yml
  bind/Dockerfile
Due: build-bind

bind: add low port network binding capability
  bind/Dockerfile
Due: build-bind

Add calibre-web build
  .circleci/config.yml
  .circleci/continue_config.yml
  calibre-web/Dockerfile
  calibre-web/container-structure-test.yaml
Due: none

webdav: initial commit v4.1.1
  .circleci/config.yml
  .circleci/continue_config.yml
  webdav/Dockerfile
  webdav/container-structure-test.yaml
Due: none

Add local build test script
  local-build-test.sh
Due: none

fix: local test script install emulators
  local-build-test.sh
Due: none

Removed ubooquity build
  .circleci/continue_config.yml
  ubooquity/Dockerfile
  ubooquity/container-structure-test.yaml
Due: none

Update Bind to 9.18.19
  bind/Dockerfile
Due: build-bind

Update Webdav to 4.2.0
  webdav/Dockerfile
Due: none

Removed calibre-web build
  .circleci/config.yml
  .circleci/continue_config.yml
  calibre-web/Dockerfile
  calibre-web/container-structure-test.yaml
Due: none

Add Samba
  .circleci/config.yml
  .circleci/continue_config.yml
  samba/Dockerfile
  samba/container-structure-test.yaml
  samba/samba.sh
  samba/smb.conf
Due: none

samba: update to 4.18.9
  samba/Dockerfile
Due: none

bind: update to 9.18.24
  bind/Dockerfile
Due: build-bind

samba: update to 4.20.6 with Alpine 3.21.3 base
  .circleci/continue_config.yml
  samba/Dockerfile
Due: none

Update local build/test to run for multiple architectures
  local-build-test.sh
Due: none

Update circleci orbs
  .circleci/config.yml
  .circleci/continue_config.yml
Due: none

samba: update to 4.22.6-r0
  samba/Dockerfile
Due: none

Path conditions:
  build-bind: any of: bind/.*
  build-ed: any of: external-dns/.*
